@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
    <img src="images\zhivotnye_kot_18034.jpg">
</div> *@

@*<link type="text/css" rel="stylesheet" href="~/lib/jquery/dist/jquery-te-1.4.0.css">

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery-te-1.4.0.min.js" charset="utf-8"></script>*@

<div class="container" style="margin-top: 12px;">

<h1>Последние изменения:</h1>




@*<div>
    <img src="/images/1489052030_kotik-hosiko-12.jpg">
</div>*@


</div>

