@model List<Chapter>;

@{
    ViewData["Title"] = "Поиск";
}
<h1>Результаты поиска:</h1>

@for (int i = 0; i < Model.Count; i++)
{
    <div style="margin-left: 12px;">
        <h3>
            <a href="">@(HomeController.dbContext.Sections.Find(Model[i].Id_section).Title) - @(Model[i].Title)</a>
        </h3>
        <div style="margin-left: 24px; margin-top: 12px;">
            @(Html.Raw(Model[i].HtmlText))
        </div>
    </div>
}
